@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        ApplicationUser? user = UserManager.GetUserAsync(User).Result ?? new ApplicationUser();
        @* <li class="nav-item dropdown">
            <a class="nav-link d-flex align-items-center" href="#" id="profileDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="@(!string.IsNullOrWhiteSpace(user.ProfileImageUrl) ? user.ProfileImageUrl : "https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?auto=format&fit=crop&w=200&q=80")"
                    class="rounded-circle border border-primary" width="42" height="42" style="object-fit:cover;">
            </a>

            <ul class="dropdown-menu dropdown-menu-end profile-menu shadow-lg" aria-labelledby="profileDropdown">

                <li class="px-3 py-2 d-flex align-items-center profile-header">
                    <img src="@(!string.IsNullOrWhiteSpace(user.ProfileImageUrl) ? user.ProfileImageUrl : "https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?auto=format&fit=crop&w=200&q=80")"
                        class="rounded-circle me-2" width="45" height="45" style="object-fit:cover;">
                    <div>
                        <div class="fw-semibold  ">@user.UserName </div>
                        <small class="text-muted">@user.Email</small>
                    </div>
                </li>
                <li><a class="dropdown-item profile-item " asp-area="" asp-controller="Home" asp-action="Dashboard">
                        Dashboard
                    </a></li>

                <li><a class="dropdown-item profile-item" asp-area="" asp-controller="Home" asp-action="AdminListings">
                        My Listings
                    </a></li>
                <li><a class="dropdown-item profile-item" asp-area="" asp-controller="Home" asp-action="Saved">
                        Saved Properties
                    </a></li>
                <li><a class="dropdown-item profile-item" asp-area="" asp-controller="Home" asp-action="Messages">
                        Messages
                    </a></li>
                <li><a class="dropdown-item profile-item" asp-area="" asp-controller="Home" asp-action="Profile">
                        Profile
                    </a></li>  <li>
                <form asp-area="Identity" asp-page="/Account/Logout"
                    asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                  

                            <button class="dropdown-item profile-item text-danger fw-semibold" type="submit">Logout</button>
                  
                </form>  </li>
            </ul>
        </li> *@
        <div class="nav-item dropdown">
            <div class="profile">
                      
                <a class="nav-link d-flex align-items-center" href="#" id="profileDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="@(!string.IsNullOrWhiteSpace(user.ProfileImageUrl) ? user.ProfileImageUrl : "https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?auto=format&fit=crop&w=200&q=80")"
                        class=" dropbtn rounded-circle border border-primary" width="40" height="40"
                        style="object-fit:cover;">
                </a>

                @* <img class="dropbtn" src="https://i.imgur.com/ywRonqz.jpg"> *@
                <div class="dropdown-content">
                
                    <ul class="border shadow-md">
                        <a class="" asp-area="" asp-controller="Home" asp-action="Dashboard">
                            <li><svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-grid-3x3-gap-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M1 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zM1 7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1zM1 12a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5 0a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v2a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z" />
                                </svg><span>Dashboard</span></li>
                        </a>

                        <a class="" asp-area="" asp-controller="Home" asp-action="AdminListings">
                            <li><svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-houses-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M7.207 1a1 1 0 0 0-1.414 0L.146 6.646a.5.5 0 0 0 .708.708L1 7.207V12.5A1.5 1.5 0 0 0 2.5 14h.55a2.5 2.5 0 0 1-.05-.5V9.415a1.5 1.5 0 0 1-.56-2.475l5.353-5.354z" />
                                    <path
                                        d="M8.793 2a1 1 0 0 1 1.414 0L12 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l1.854 1.853a.5.5 0 0 1-.708.708L15 8.207V13.5a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 4 13.5V8.207l-.146.147a.5.5 0 1 1-.708-.708z" />
                                </svg>
                                My Properties
                            </li>
                        </a>
                        <a class="" asp-area="" asp-controller="Home" asp-action="Saved">
                            <li><svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-heart-fill" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
                                </svg>
                                Saved Properties
                            </li>
                        </a>
                        <a class="" asp-area="" asp-controller="Messages" asp-action="Messages">
                            <li><svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                    fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M16 8c0 3.866-3.582 7-8 7a9 9 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                </svg>
                                Messages
                            </li>
                        </a>
                        <a class="" asp-area="" asp-controller="Home" asp-action="Profile">
                            <li>
                                <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                    fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6" />
                                </svg>
                                Profile
                            </li>
                        </a>
                        <li class="hover:text-red-500">
                            <form asp-area="Identity" asp-page="/Account/Logout"
                                asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">


                                <button class="flex items-center" type="submit"> <svg class="mr-3"
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-door-closed-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M12 1a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2a1 1 0 0 1 1-1zm-2 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2" />
                                    </svg> Logout</button>

                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @* <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello
                @User.Identity?.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout"
                asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li> *@
    }
    else
    {
        <div class="flex items-center space-x-3">
            <li class="nav-item ">
                <a class="nav-link text-dark" asp-controller="Account" asp-action="Login"> <button
                        class="hidden md:block rounded-lg  bg-primary hover:bg-secondary text-white px-6 py-2   hover:shadow-lg button">Sign
                        In</button>

                </a>
            </li>
            <li class="nav-item">

                <a class="nav-link text-dark" asp-controller="Account" asp-action="Register"> <button
                        style="background-color: #f9ffff;"
                        class="hidden md:block  text-primary hover:bg-gray-100 text-primary text-bold px-6 py-2 rounded-lg hover:shadow-lg white-button">Sign
                        Up</button>
                </a>
            </li>
        </div>

    }
</ul>